/* Additional styles */

.card {
    box-sizing: border-box;
    width: 90%;
    height: 90%;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex; 
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  .card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card .card-title {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(63, 39, 75);
  }
  
  .card .card-content {
    font-size: auto;
    font-weight: bold;
  }
  
  /* Media Queries for Additional Styles */
  
  @media (max-width: 768px) {
    .card {
      width: 90%; /* Ensure cards are smaller on tablets */
    }
  
    .card-title {
      font-size: 1.5rem; /* Adjust title size for tablets */
    }
  }
  
  @media (max-width: 480px) {
    .card {
      width: 100%; /* Full width on mobile */
    }
  
    .card-title {
      font-size: 1.2rem; /* Smaller title for mobile */
    }
  }